*{
    margin: 0 auto;
    box-sizing: border-box;
}


.logo{
    background-color: rgb(16, 24, 40);
    position: fixed;
    top: 0;
    left: 0;
    width: 9rem;
        z-index: 100000;

}

.logo .logo_content{
    display: flex;
    align-items: center;
    color: rgb(70, 131, 221);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    height: 2rem;
    width: 2rem;
    margin: .5rem;
}

.logo_content h1{
    padding-right: .5rem;
}

.logo .logo_img{
    margin-right: 5px;
    background-color: rgb(70, 131, 221);
}

.feed-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100svh;
}


.recipe-card {
    scroll-snap-align: start;
    height: 100svh;
}


.feed-container::-webkit-scrollbar {
    display: none;
}
.feed-container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.imagem {
    width: 100%;
    height: 100%;
    padding: 0rem 0rem 1rem 0rem ;
    object-fit: cover;
    z-index: 100; 
}

#buttons{
    display: flex;
    justify-content: space-around;
    height: 20%;
    position: absolute;
}